#documento
/documento/grupo#15.aux
/documento/grupo#15.fdb_latexmk
/documento/grupo#15.fls
/documento/grupo#15.log
/documento/grupo#15.out
/documento/grupo#15.synctex.gz
/documento/grupo#15.toc


#Proyecto
__pycache__
env
.env
migrations
temporales
uploads
archivostemporales